// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Main theme
@import "resources/sass/main";

// Diamond
//@import "resources/sass/diamond";

// Sidebar
@import "resources/sass/sidebar";

// Main theme
@import "~jquery-confirm/dist/jquery-confirm.min.css";

// Main styles
@import "style.scss";

*{
  list-style: none !important;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: 'Sequel', sans-serif;*/
}