.custom-wrapper {
  .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    position: sticky;
    top: 0;
    z-index: 1000;
    .top_navbar{
      background: $primary;
      border-left: 1px solid $border;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;

      ul{
        a:not(.dropdown-item){
          color: $primaryWhite !important;
          font-size: 16px !important;
          &:hover{
            color: $hover !important;
          }
        }
        .dropdown{
          .dropdown-menu{
            .dropdown-item{
              color: $primaryWhite !important;
              &:hover{
                color: $primary !important;
              }
            }
          }
        }
      }

      .hamburger a{
        font-size: 28px;
        color: $primaryWhite;
      }
      .nav-link{
        &:hover{
          color: $hover !important;
        }
      }
    }

  }

  .sidebar {
    background: $primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    z-index: 999;
    overflow-y: auto;

    .profile-container{
      margin-bottom: 30px;
      text-align: center;
      img{
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: 0 auto;
        object-fit: cover;
      }
      h4{
        color: $primaryWhite;
        margin: 10px 5px 5px;
        word-break: break-all;
      }

      p{
        color: $hover;
        font-size: 14px;
        margin: 5px 5px;
        word-break: break-all;
      }
    }

    ul li{

      a{
        display: block;
        padding: 7px;
        border-bottom: 1px solid $border;
        font-size: 14px;
        position: relative;

        .icon{
          color: $primaryWhite;
          width: 30px;
          display: inline-block;
        }

      }

      &:hover,
      &.active{
        background: $primaryWhite;

        a {
          .icon, .item {
            color: $primary;
          }

          &:hover, &.active:before{
            display: block;
          }
        }
      }
    }
  }
}

.custom-wrapper .section .top_navbar .hamburger a i,
.custom-wrapper .section .top_navbar ul i,
.custom-wrapper .sidebar ul li,
.custom-wrapper .sidebar,
.custom-wrapper .section,
a
{
  transition: all 0.3s ease;
}

.custom-wrapper .section .top_navbar {
  .hamburger a:hover, ul i:hover {
    color: $hover !important;
  }
}

body.active .custom-wrapper{
  .section .top_navbar .hamburger a i{
    transform: rotate(360deg);
  }

  .sidebar{
    left: -225px;
  }

  .section{
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 576px){
  .custom-wrapper main{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.3s ease;

    body.active &{
      margin-left: 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 576px){
  .custom-wrapper .section .top_navbar ul {
    body.inactive &{
      display: none !important;
    }
    body.active &{
      display: flex;
    }
  }
}

.top_navbar .dropdown-menu{
  color: $primaryWhite !important;
  background: $primary !important;
  border-radius: 0 !important;
}
